:root {
  --activeSpot0: 000%;
  --activeSpot1: 200%;
  --activeSpot2: 200%;
  --activeSpot3: 200%;
  --activeSpot4: 200%;
  --color0: #1e4d9e;
  --color1: #639cff;
  --color2: #4582eb;
  --color3: #9e700e;
  --color4: #ebb544;
}
* {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.main_body {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
  margin: 0 auto;
}
.fear {
  width: 25%;
  height: 25%;
}
.fifper {
  position: relative;
  max-width: 50%;
  margin-left: 25%;
  margin-right: 25%;
  left: 25%;
  right: 25%;
}
.ote {
  width: 12.5%;
  height: 12.5%;
}
.sfp {
  width: 25%;
  height: 25%;
}
.sep {
  width: 25%;
  height: 25%;
}
a {
  max-width: 25%;
}
.smtxt {
  font-size: xx-large;
}
.nextmenu {
  position: absolute;
  z-index: 100;
  left: 43.875%;
  width: 6.25%;
  height: auto;
  text-align: center;
  font-size: large;
  border-style: none;
  transform: translateY(-200%);
  transition-duration: 0.375s;
}
.menubar {
  position: absolute;
  width: 100%;
  height: 12.5%;
  z-index: 1000;
}
.top {
  top: 0%;
}
.bottom {
  bottom: 0%;
}
.back {
  transform: translateY(200%);
  bottom: 0%;
}
.back > * {
  transform: scaleY(-1) translateX(25%);
}
.menubar:hover > * {
  transform: translateY(0%);
}
.moveout {
  transform: translateY(0%);
  transition-duration: 0.125s;
}
.menubar:hover > .back {
  transform: translateY(50%);
}
.suit {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 0;
  transform: translateY(var(--activeSpot0));
  transition-duration: 1.25s;
}
.scrollV {
  overflow-y: scroll;
}
.nextmenu > .moveout {
  transform: translateY(-100%);
}
.nextmenu:hover > .moveout {
  transform: translateY(-75%);
}
.back > .moveout {
  transform: scaleY(-1) translateY(100%) translateX(25%);
}
.back:hover > .moveout {
  transform: scaleY(-1) translateY(125%) translateX(25%);
}
.about {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 0;
  transform: translateY(var(--activeSpot1));
  transition-duration: 1.25s;
}
.slider {
  position: relative;
  left: 25%;
  margin: 0 auto;
  width: 100%;
  height: 100%;
}
.slider::before {
  position: absolute;
  content: '';
  background-color: black;
  width: 50%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transform: translateX(-50%);
  transition-duration: 1.5s;
  box-shadow: black 0px 0px 0px;
}
.slider::after {
  position: absolute;
  content: '';
  background-color: black;
  width: 50%;
  height: 100%;
  z-index: 1;
  overflow: hidden;
  transform: translateX(50%);
  transition-duration: 1.5s;
  box-shadow: black 0px 0px 0px;
}
.main_body:hover > .suit > .slider::before {
  box-shadow: black 0px 0px 32px;
  transform: translateX(-125%) rotateZ(60deg);
}
.main_body:hover > .suit > .slider::after {
  box-shadow: black 0px 0px 32px;
  transform: translateX(125%) rotateZ(-60deg);
}
.tie {
  content: '';
  position: absolute;
  width: 100vw;
  height: 6.25%;
  margin: 0;
  left: -0.625%;
  transition-duration: 0.25s;
  transition-delay: 0.125s;
  background-color: black;
}
.tie::after {
  content: '';
  position: absolute;
  left: 40%;
  background-color: RED;
  width: 12.5%;
  height: 200%;
  transform: translateY(-25%);
  z-index: -10;
  border-radius: 25%;
  transition-duration: 0.25s;
  transition-delay: 0.125s;
  border-top-right-radius: 50%;
  border-bottom-right-radius: 50%;
}
.tie::before {
  content: '';
  position: absolute;
  left: 50%;
  background-color: RED;
  width: 12.5%;
  height: 200%;
  transform: translateY(-25%);
  z-index: -10;
  border-radius: 25%;
  transition-duration: 0.25s;
  transition-delay: 0.125s;
  border-bottom-left-radius: 50%;
  border-top-left-radius: 50%;
}
.main_body:hover > .suit > .tie {
  transform: translateY(-200%);
  transition-delay: 1s;
}
.main_body:hover > .suit > .tie::after {
  z-index: 4;
}
.content {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  width: 100%;
  top: 5%;
  text-align: center;
  font-size: x-large;
}
.content > p {
  width: 100%;
  margin: 0;
  text-align: center;
}
.center {
  text-align: center;
  position: relative;
  font-size: xx-large;
  width: 100vw;
}
.drill {
  width: 12.5%;
  height: 12.5%;
  float: left;
  margin-left: 12.5%;
  image-rendering: pixelated;
}
img {
  user-select: none;
  -webkit-user-drag: none;
}
.drill:hover {
  animation-duration: 0.05s;
  animation-name: drill;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}
.portfolio {
  position: absolute;
  width: 100%;
  height: 100%;
  margin: 0 0;
  transform: translateY(var(--activeSpot2));
  transition-duration: 1.25s;
}
.shrink {
  font-size: large;
  max-width: 25%;
}
.portfolio_images {
  display: flex;
  margin-left: 35%;
  margin-right: auto;
  width: 37.5%;
  flex-wrap: wrap;
  flex-direction: row;
}
.portfolio_images > * {
  position: relative;
  min-width: 12.5%;
  min-height: 12.5%;
  max-width: 12.5%;
  max-height: 12.5%;

  background-color: var(--color0);
}
.left-side {
  width: fit-content;
  position: absolute;
  left: 0%;
  top: 5%;
}
.left-side > p > a {
  font-size: 24px;
}
@media screen and (max-width: 1280px) and (max-height: 720px) {
  .main_body:hover > .suit > .slider::before {
    box-shadow: black 0px 0px 32px;
    transform: translateX(-125%) rotateZ(60deg) translateY(25%);
  }
  .main_body:hover > .suit > .slider::after {
    box-shadow: black 0px 0px 32px;
    transform: translateX(125%) rotateZ(-60deg) translateY(25%);
  }
  .left-side {
    top: -25%;
  }
}
@media screen and (max-width: 600px) {
  .main_body:hover > .suit > .slider::before {
    box-shadow: black 0px 0px 32px;
    transform: translateX(-125%) rotateZ(60deg) translateY(50%);
  }
  .main_body:hover > .suit > .slider::after {
    box-shadow: black 0px 0px 32px;
    transform: translateX(125%) rotateZ(-60deg) translateY(50%);
  }
  .shrink {
    font-size: 20px;
    font-kerning: none;
    max-width: 45%;
  }
  .left-side {
    top: -12.5%;
    margin-top: 0%;
  }
  .left-side > p > a {
    font-size: 24px;
  }
  .portfolio_images > * {
    margin-top: -9.75%;
  }
}
@keyframes drill {
  from {
    transform: rotateZ(-5deg);
  }
  to {
    transform: rotateZ(5deg);
  }
}
